<topbar-dir></topbar-dir>

<div class="view">
  <nav>
    <ul>
      <li ui-sref="top">Top - 50</li>
      <li ui-sref="likes">Likes</li>
      <li ui-sref="playlists">Playlist</li>
    </ul>
  </nav>
<p class="title">Top 50 - {{genre}}</p>
<p>Chart By Genre</p>
<div class="genre">
  <div class="row">
    <div>All</div>
    <div>Rock</div>
    <div>Ambient</div>
    <div>Classical</div>
  </div>
  <div class="row">
    <div>Country</div>
    <div>Dance</div>
    <div>Deephouse</div>
    <div>Disco</div>
  </div>
  <div class="row">
    <div>Drum</div>
    <div>Jazz</div>
    <div>Pop</div>
    <div>Metal</div>
  </div>
</div>
<repeat-dir></repeat-dir>
</div>
<player-dir></player-dir>
