<div class="topbar">
  <div class="go">
    <a class="fa fa-bars"></a>
    <a class="fa fa-chevron-left" ng-click="goBack()"></a>
    <a class="fa fa-chevron-right" ng-click="goForward()"></a>
  </div>
  <div class="search">
    <form ng-submit="submit(text)">
      <input type="text" ng-model="text" class="txt">
      <a class="fa fa-search"></a>
    </form>
  </div>
  <div class="social">
    <a class="fa fa-facebook"></a>
    <a class="fa fa-github"></a>
    <a class="fa fa-twitter"></a>
    <a class="fa fa-instagram"></a>
  </div>
</div>
